*.log
pids
*.pid
*.seed
*sublime*
.vscode
lib-cov
coverage
.grunt
.gitpod.yml
dist/.local_storage*
build/Release
node_modules
test/util/playground.js
.idea/
electron*
test-reports/
dist
.eslintcache
